*{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: black;
    color: white;
    padding: 40px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.navbar--s2{
    display: flex;
    gap:10px;
}

.navbar--s2 p:hover{
    color: grey;
    cursor: pointer;
}

.search{
    padding: 15px;
    margin: 30px 18vw;
    width: 60%;
    border-radius: 30px;
    border: none;
    border: solid black 1px;
}

.search:focus{
    outline: none;
}

.product__container{
    display:flex;
    gap: 10px;
    justify-content: space-evenly;
}

.box{
    margin: 20px 0px;
    padding: 20px;
    width:300px;
    border:solid black 2px;
    border-radius: 10px;
    cursor: pointer;
}

.box:hover{
    background-color: grey;
    color: white;
}

.box img{
    width:100%;
    height:250px;
}

.about{
    text-align: center;
    padding: 20px;
    margin: 20px 10px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}